---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
redirect_from:
  - /portfolio/
---

{% assign research_projects = site.portfolio | sort: "date" | reverse %}
{% for project in research_projects %}
  <article class="archive__item">
    <h2 class="archive__item-title">{{ project.title }}</h2>

    <p>
      <em>{{ project.subtitle }}</em><br />
      <strong>{{ project.venue }}</strong>
      {% if project.award %}
        · <strong>{{ project.award }}</strong>
      {% endif %}
    </p>

    {{ project.content }}

    <p>
      <a href="{{ project.paperurl }}">Paper</a>
    </p>
  </article>
{% endfor %}
