---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p class="wordwrap">A complete list is also available on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</p>

{% assign publications = site.publications | sort: "date" | reverse %}
{% for publication in publications %}
  <article class="archive__item">
    <p><strong>{{ publication.venue }}</strong><br />
    {{ publication.authors }}<br />
    <a href="{{ publication.paperurl }}">{{ publication.title }}</a>{% if publication.award %}<br />
    <strong>{{ publication.award }}</strong>{% endif %}</p>
  </article>
{% endfor %}
